@model List<NextFilmFeatures>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İzleyeceğim Filmler</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Film</th>
                            <th>Sil</th>                  
                            <th>İzlendi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NextFilmName</td>
                                <td><a href="/NextFilm/DeleteNextFilm/@item.NextFilmId" class="btn btn-outline-danger">Sil</a></td>
                                <td><a href="/NextFilm/AddWatchedFilm/@item.NextFilmId" class="btn btn-outline-warning">İzlenen filmlere ekle</a></td>
                            </tr>
                        }
                    </tbody>
                    <tbody>
                    </tbody>
                </table>

                <a href="/NextFilm/AddNextFilm" class="btn btn-outline-info">Yeni Film Ekle</a>
            </div>
        </div>
    </div>
</div>
