@model List<FilmFeatures>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">İzlediğim Filmler</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>  
                            <th>Film</th>
                            <th>Sil</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                            {
                            <tr>
                            <td>@item.FilmName</td>                         
                           <td><a href="/Film/DeleteFilm/@item.FilmId" class="btn btn-outline-danger">Sil</a></td>
                           <td><a href="/Film/FilmDetails/@item.FilmId" class="btn btn-outline-warning">Film Yorumum</a></td>
                           <td><a href="/Film/UpdateFilm/@item.FilmId" class="btn btn-outline-info">Film Güncelle</a></td>
                          </tr>
                            }
                    </tbody>
                       
                  
                    <tbody>
                       
                    </tbody>
                </table>
                
                <a href="/Film/AddFilm" class="btn btn-outline-info">Yeni Film Ekle</a>
            </div>
        </div>
    </div>
</div>
